doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href='/css/game.css')
        title PyChess Game
    body 
        .main-container 
            .top
                .display-container 
                    .session-id-container 
                        .id-title 
                            h3 📝 Session ID&nbsp;&nbsp; : 
                        .session-id-display
                            h3#generatedCode
                    .opponent-id-container 
                        .left-opponent-container
                            .id-title 
                                h3 🥊Opponent ID :
                            .opponent-id-display 
                                h3 czrong
                        .kick-button-container
                            h3 Kick

                .timer-container
                     .timer-title-container 
                        h2 ⌛&nbsp; Time Left : 
                     .timer-display-container
                        h2 100s
                .icon-container 
                    .home-container 
                        a(href="/")
                            img(src='/img/Home Icon.jpg' alt="Home Icon")
                    .quit-container
                        img(src="/img/Quit.png" alt="Quit Icon")

            .center 
                .lock-container
                    img(src="/img/Lock Icon.png" alt='Lock Image')
                
                .chessboard-container
                    .chessboard
                    
                .unlock-container
                    img(src="/img/Unlock Icon.png" alt="Unlock Image") 

            .bottom
                .scanner-container
                    .scanner-title-container 
                        h2 Scan to Answer Question
                    .scanner-icon-container
                        img(src="/img/Scanner.png" alt='Scanner Image')

                .start-button-container 
                    h2 Start

        script(src='/js/chessboard.js')
        script(src='/js/getCode.js')
                